/* Global */

:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-deep-purple: #8460cb;
    --color-purple: #9c8dbd;
    --color-light-purple: #e7b9ff;
    --color-nav-purple: #8876b3;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px; 

    /* Animation */
    --animation-duration: 300ms;
}


/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    /* 마우스가 텍스트위 올라갔을 때 상태 */
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding-left: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
/* # = id 선택자 */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-nav-purple);
    /* align-items = 로고 가운데로 정렬 */
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

/* . = class 선택자 */
.navbar__menu {
    display: flex;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

/* 첫번째: 위아래, 두번쨰: 양옆 */
.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    /* pointer = 클릭가능상태 */
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
    border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
    background-color: var(--color-deep-purple);
}

/* Home */
#home {
    background: url('imgs/background.png') center/cover no-repeat;
    padding: 40px;
    /* text-align: 중앙으로 */
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
    color: var(--color-white);
}

.home__contact {
    color: var(--color-white);
    font-size: var(--weight-regular);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white); 
    border-radius: var(--size-border-radius);
}

/* Section common */
.section {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.section__container {
    max-width: 1200px;
    margin: auto;
}

/* About */
.about__majors {
    display: flex;
    /* 아이템별 간격 띄우기 */
    justify-content: space-between;
    margin: 80px 0;
}

.major__icon {
    width: 170px;
    height: 170px;
    /* icon 위치조정 170 똑같이 */
    line-height: 170px; 
    /* icon 크기 */
    font-size: 70px;
    margin: auto;
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}
.major__icon i {
    /* 300ms > 답답하지 않을 표준화된 수치 */
    transition: all var(--animation-duration) ease;

}
.major__icon:hover i {
    color: var(--color-purple);
    transform: rotate(-30deg) scale(1.1);
}
.major__title, 
.major__description {
    color: var(--color-dark-grey);
}

.major__description {
    font-size: var(--font-small);
}

.job {
    display: flex;
    align-items: center;
}

.job__description {
    margin: 0 16px;
    text-align: center;
}

.job__name,
.job__period {
    color: var(--color-light-grey);
}

.job__name {
    font-size: var(--font-small);
}

.job__period {
    font-size: var(--font-micro);
}

/* Skills */
#skills {
    background-color: var(--color-yellow);
}

.skillset {
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title {
    color: var(--color-white);
}

.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    /* pading: 상하 좌우; */
    padding: 20px 40px;
}

.skill {
    margin-bottom: 32px;
}

.skill__description {
    display: flex;
    /* 아이템 사이 공간 띄우기 */
    justify-content: space-between;
}

.skill__bar {
    width: 100%;
    height: 4px;
    background-color: var(--color-grey);
}

.skill__value {
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right {
    flex-basis: 40%;
}

.tools {
    background-color: var(--color-grey);
}

.tools,
.etc {
    padding: 20px;
}

/* Work */
.work__category {
    margin: 40px;
}

.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}

.category__count {
    background-color: var(--color-orange);
    /* border-radius: 50% > 동그랗게 */
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;
    /* span은 컨텐츠를 꽉 감싸주는 사이즈임
    >> 인라인 블럭으로 바꿔줘야 동그라미 형태 유지 */
    display: inline-block;
    position: relative;
    top: -20px ;
    left: 4px;
    /* 안보이게 설정 */
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.work__projects {
    display: flex;
    /* 화면이 꽉차면 줄바꿈 정리 */
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project__img {
    max-width: 100%;
    max-height: 100%;
}

.project__description {
    /* position: absolute 를 쓰면
    1.근접한 부모 노드중 기본값인 position: static이 아닌
    부모를 찾아가게된다.
    2.부모인 project는 기본값이기 때문에 가장 위까지 간다.
    3.그래서 project에 position: relative를 써서
    project에서 position을 결정하게 해준다.
     */
    position: absolute;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3 {
    color: var(--color-white);
}

.project__description h3:after {
    /* h3 다음에 css로 선긋기 */
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* 
- Summary -
position: 기본은 static이다 


*/